*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #f5f5f5, #f5f5f5 50%, black 50%, black);
    background-size: cover;
    background-repeat: no-repeat;
    font: helvetica;
    font-family: 'Signika', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1.5em;

}

/* A link that has not been visited */
a:link {
    color: inherit;
    text-decoration: none;
}
/* A link that has been visited */
a:visited {
    color: inherit;
}

/* A link that is hovered on */
a:hover {
  background-color: #C4C4C4;
}

/* A link that is selected */
a:active {
    color: grey;
}

a {
    cursor: url("cursor.cur"),  default;
}
a>div { display: none; }
a:hover>div { display: block; }

#right-text-head {
  color: #f5f5f5;
  position: fixed;
right: 10px;
top: 20px;
font-size: 1.5em;
margin: 0;
padding: 0px;
}


.hiddenimg {
  background-color: white;
  display: none;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid;
    border-color: 50% black 50% white;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
}



h1 {
  size: 1em;
  position: relative;
  font-weight: lighter;
  padding-left: 20px;
}


h2 {
  display: block;
  position: fixed;
  font-size: 2em;
  line-height: 2.5em;
  padding-left: 20px;
  font-weight: normal;
  }

.highlight {
    background-color: black;
    color: #f5f5f5;
    size: 1.3em;
}

.italic{
  font-style: italic;
  font-weight: lighter;
}

#asterisk {
  position: fixed;
  bottom:-70px;
  left: 0px;
  font-size: 5em;
  padding: 0;
  margin:0;
}

#contact {
  color: #f5f5f5;
  position: fixed;
  bottom: 0px;
  right: 5;
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}

#info {
  color: #f5f5f5;
  position: fixed;
  bottom: 100px;
  right: -10;
  transform: rotate(-90deg);
  font-size: 1.75em;

  }

#info :hover {
  text-decoration: underline;
  background-color: inherit;
}

  #info :active {
      color: grey;
    }

    #contact :hover {
      text-decoration: underline;
      background-color: inherit;
    }

      #contact :active {
          color: grey;
        }

      #blackbox {
        position: absolute;
        margin: 0 auto;
        align-items: center;
      }
